<ion-menu contentId="main-content">
    <ion-header>
        <ion-toolbar>
            <ion-title>Menu</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list lines="none">
            <ion-list-header>
                Navigate
            </ion-list-header>

          <ion-menu-toggle autoHide="false" *ngFor="let p of participants; let i = index">
                <ion-item>

                </ion-item>
          </ion-menu-toggle>
        </ion-list>
    </ion-content>
</ion-menu>
